<!DOCTYPE html>
<html>
<head>
  <title>Acme plugin dropin</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "acme_plugin_dropin/application", media: "all" %>
  <%= javascript_include_tag "acme_plugin_dropin/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
